<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_EasyLightBox>
            <version>0.1.0</version>
        </SnowCommerce_EasyLightBox>
    </modules>
    <frontend>
        <layout>
            <updates>
                <snowcommerce_easylightbox>
                    <file>sc_easylb.xml</file>
                </snowcommerce_easylightbox>
            </updates>
        </layout>
        <routers>
            <esaylb>
                <use>standard</use>
                <args>
                    <module>SnowCommerce_EasyLightBox</module>
                    <frontName>easylb</frontName>
                </args>
            </esaylb>
        </routers>
    </frontend>
    <global>
        <models>
            <sc_easylb>
                <class>SnowCommerce_EasyLightBox_Model</class>
                <resourceModel>sc_easylb_mysql4</resourceModel>
            </sc_easylb>
            <sc_easylb_mysql4>
                <class>SnowCommerce_EasyLightBox_Model_Mysql4</class>
                <entities>
                    <sc_easylb>
                        <table>sc_easylb</table>
                    </sc_easylb>
                </entities>
            </sc_easylb_mysql4>
        </models>
        <blocks>
            <sc_easylb>
                <class>SnowCommerce_EasyLightBox_Block</class>
            </sc_easylb>
        </blocks>
        <helpers>
            <sc_easylb>
                <class>SnowCommerce_EasyLightBox_Helper</class>
            </sc_easylb>
        </helpers>
        <resources>
            <sc_easylb_setup>
                <setup>
                    <module>SnowCommerce_EasyLightBox</module>
                </setup>
            </sc_easylb_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <snowcommerce_easylightbox>
                    <file>sc_easylb.xml</file>
                </snowcommerce_easylightbox>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sc_easylb before="Mage_Adminhtml">SnowCommerce_EasyLightBox_Adminhtml</sc_easylb>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>