<?xml version="1.0"?>
<config>
    <sections>
        <cafepress_common>
            <groups>
                <easylb>
                    <fields>
                        <mailchimp>
                            <label>MailChimp</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mailchimp>
                        <constantcontact>
                            <label>Constant Contact</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </constantcontact>
                    </fields>
                </easylb>
            </groups>
        </cafepress_common>
    </sections>
</config>