<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_IcePop>
            <version>0.1.0</version>
        </SnowCommerce_IcePop>
    </modules>
    <frontend>
        <layout>
            <updates>
                <snowcommerce_icepop>
                    <file>sc_icepop.xml</file>
                </snowcommerce_icepop>
            </updates>
        </layout>
        <routers>
            <esaylb>
                <use>standard</use>
                <args>
                    <module>SnowCommerce_IcePop</module>
                    <frontName>icepop</frontName>
                </args>
            </esaylb>
        </routers>
    </frontend>
    <global>
        <models>
            <sc_icepop>
                <class>SnowCommerce_IcePop_Model</class>
                <resourceModel>sc_icepop_mysql4</resourceModel>
            </sc_icepop>
            <sc_icepop_mysql4>
                <class>SnowCommerce_IcePop_Model_Mysql4</class>
                <entities>
                    <sc_icepop>
                        <table>sc_icepop</table>
                    </sc_icepop>
                </entities>
            </sc_icepop_mysql4>
        </models>
        <blocks>
            <sc_icepop>
                <class>SnowCommerce_IcePop_Block</class>
            </sc_icepop>
        </blocks>
        <helpers>
            <sc_icepop>
                <class>SnowCommerce_IcePop_Helper</class>
            </sc_icepop>
        </helpers>
        <resources>
            <sc_icepop_setup>
                <setup>
                    <module>SnowCommerce_IcePop</module>
                </setup>
            </sc_icepop_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <snowcommerce_icepop>
                    <file>sc_icepop.xml</file>
                </snowcommerce_icepop>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sc_icepop before="Mage_Adminhtml">SnowCommerce_IcePop_Adminhtml</sc_icepop>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>